body {
  margin:                       0;
  font-family:                  Arial, Helvetica, sans-serif;
}

h1, h2, h3, hr {
  background-color:             #4c4c10;
  color:                        #efe8a8;
}

/* Rule below articles and side bar
*/
hr {
  width:                        95%;
  height:                       1px;
}

/* Header with avatar and name
*/
h1 {
  height:                       36pt;
  margin:                       0;
  padding:                      10px;
}

h2, h3 {
  height:                       20pt;
  margin:                       10px 5px 10px 5px;
  padding:                      5px;
  box-shadow:                   8px 8px 4px #8f5d10;
  border-radius:                7px;
}

/* This part is in the sidebar
   The indenting of ul and li is way too much
*/
ul#archive, ul#archive ul {
  margin:                       5px;
  padding:                      2px;
  list-style-type:              none;
}

ul#archive h4, ul#archive h5 {
/*
  height:                       10pt;
*/
  padding:                      0px;
  margin:                       0px 0 0 0;
}

ul#archive li > a {
  height:                       10pt;
  padding:                      0 0 0 2px;
  font-size:                    smaller;
}

p {
  margin:                       0 0 15px 0;
  padding:                      0 0 0 4px;
}

/*
p, li {
  line-height:                  20px;
}
*/

header#page_header {
  width:                        100%;
  background-image:             url('../Images/top2.jpg');
  background-repeat:            no-repeat;
  height:                       240px;
  position:                     relative;
  top:                          0;
  padding:                      0;
  background-color:             #4c4c10;
  color:                        #efe8a8;
}

.banner {
  display:		        inline;
  float:		        left;
  background-color:             #4c4c10;
  color:                        #efe8a8;
}

img.header_icon {
  border-radius:                5px;
  border-style:                 solid;
  border-color:                 #efe8a8;
  border-width:                 2px;
  padding:                      2px;
  margin:                       6px;
/*
    opacity:                    1;
    filter:                     alpha(opacity=100);
*/
}

div#div_header {
  width:                        100%;
/*
    opacity:                    0.7;
    filter:                     alpha(opacity=70);
*/ /* For IE8 and earlier */
}

div#camelia {
  display:                      inline;
  float:                        right;
}

footer#page_footer {
  clear:                        both;
  width:                        100%;
  display:                      block;
  text-align:                   right;
  background-color:             #4c4c10;
  color:                        #efe8a8;
}

header#page_header nav ul {
  list-style:                   none;
  margin:                       0;
  padding:                      0;
  border-radius:                5px;
  border-style:                 solid;
  border-color:                 #efe8a8;
  border-width:                 2px;
}

#page_header nav ul, #page_header nav ul li a {
  background-color:             #4c4c10;
  color:                        #efe8a8;
  font-size:                    large;
}

/* Container of #page_header must be relative!
*/
#page_header nav {
  position:                     absolute;
  bottom:                       -11px;
  margin-left:                  5px;
}

#page_header nav ul li, footer#page_footer nav ul li {
  padding:                      0 0 0 4px;
  margin:                       0 10px 0 10px;
  display:                      inline;
}

section#posts {
  float:                        left;
  width:                        74%;
  margin-top:                   10px;
}

section#posts aside {
  float:                        right;
  width:                        33%;
  margin-left:                  10px;
  font-size:                    16px;
  border:                       0;
  border-style:                 solid;
  background-color:             #efe8a8;
}

/* Section on the right of the page
*/
section#sidebar {
  float:                        left;
  width:                        25%;
  margin-top:                   10px;
  border:                       0;
  border-left:                  1px;
  border-style:                 solid;
  overflow:                     auto;
  height:                       460px;
}

.container {
  overflow-y:                   auto;
  height:                       460px;
}

pre {
  font-size:                    smaller;
  border-style:                 dotted;
  border-width:                 1px;
  background-color:             #efefef;
  overflow:                     auto;
  max-height:                   130px;
}

aside pre {
  font-size:                    smaller;
  border-style:                 dotted;
  border-width:                 1px;
  background-color:             #efe8bf;
  overflow:                     auto;
  max-height:                   60px;
}

/*
*/


