body {
  margin:                 0;
  font-family:            Arial, Helvetica, sans-serif;
}

h1, h2, h3, hr {
  background-color:       #4c4c10;
  color:                  #efe8a8;
}

/* Rule below articles and side bar
*/
hr {
  width:                  95%;
  height:                 1px;
}

/* Header with avatar and name
*/
h1 {
  height:                 38pt;
  margin:                 0;
  padding:                10px;
}

h2, h3 {
  height:                 20pt;
  margin:                 10px 5px 10px 5px;
  padding:                5px;
  box-shadow:             8px 8px 4px #8f5d10;
  border-radius:          7px;
}

p {
  margin:                 0 0 20px 0;
  padding:                0 0 0 4px;
}

p, li {
  line-height:            20px;
}

img#avatar {
  border-radius:          5px;
  border-style:           solid;
  border-color:           #efe8a8;
  border-width:           2px;
}

header#page_header {
  width:                  100%;
  background-image:       url('../Images/top2.jpg');
  background-repeat:      no-repeat;
  height:                 250px;
  position:               relative;
  top:                    0;
  padding:                0;
}

footer#page_footer {
  clear:                  both;
  width:                  100%;
  display:                block;
  text-align:             right;
  background-color:       #4c4c10;
  color:                  #efe8a8;
}

header#page_header nav ul {
  list-style:             none;
  margin:                 0;
  padding:                0;
  border-radius:          5px;
  border-style:           solid;
  border-color:           #efe8a8;
  border-width:           2px;
}

#page_header nav ul, #page_header nav ul li a {
  background-color:       #4c4c10;
  color:                  #efe8a8;
  font-size:              large;
}

/* Container of #page_header must be relative!
*/
#page_header nav {
  position:               absolute;
  bottom:                 -11px;
  margin-left:            5px;
}

#page_header nav ul li, footer#page_footer nav ul li {
  padding:                0 0 0 4px;
  margin:                 0 10px 0 10px;
  display:                inline;
}

section#posts {
  float:                  left;
  width:                  79%;
  margin-top:             10px;
}

section#posts aside {
  float:                  right;
  width:                  35%;
  margin-left:            10px;
  font-size:              16px;
  line-height:            40px;
  border:                 0;
/*  border-left:            1px;
  border                  1px;
*/
  border-style:           solid;
  background-color:       #efe8a8;
}

section#sidebar {
  float:                  left;
  width:                  20%;
  margin-top:             10px;
  border:                 0;
  border-left:            1px;
  border-style:           solid;
}
