/* main.css control */
/*
$link-color: red;
$paragraph-indent: true;
$indent-var: 2em;
*/
/* system typefaces */
/*
$serif      : Georgia, Times, serif;
$sans-serif : -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$monospace  : Monaco, Consolas, "Lucida Console", monospace;
*/
/*@import "main.css";*/
/* LAYOUT STYLES */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  color: #6d6d6d;
  background: #e7e7e7 url(../images/body-bg.png) 0 0 repeat; }

div.inner {
  background: url(../images/top5.png) 0 0 no-repeat; }

a {
  color: navy;
  text-decoration: underline; }

a:hover {
  /*  text-decoration: none;*/
  text-decoration: underline;
  color: blue; }

header {
  padding-top: 0px;
  padding-bottom: 15px; }

header h1, header h2 {
  font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 23pt;
  font-weight: bold;
  letter-spacing: -1px; }

.XL-h1-size {
  font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 23pt;
  font-weight: bold;
  letter-spacing: -1px;
  text-shadow: 0px 0px 15px white;
  -webkit-text-fill-color: #deffff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #008080; }

img.header-image {
  width: 80px;
  height: 84px;
  margin: 3px 5px 0 5px;
  border-radius: 50%;
  border: 3px solid #deffff; }

header nav.horizontal-nav {
  padding: 7px 0 0 5px;
  /*  Must be improved
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: $menu-bgcolor;
  */
  height: 30px;
  font-size: 1em;
  font-weight: normal;
  /*
    .float-right {
      float: right;
    }
  */ }
  header nav.horizontal-nav a {
    float: left;
    padding: 0 4px 0 4px;
    margin-right: 2px;
    border-radius: 5px;
    line-height: 1.5;
    color: #39013e; }
  header nav.horizontal-nav a:hover:not(.active) {
    background-color: #eee;
    color: #39013e; }
  header nav.horizontal-nav .active {
    color: #39013e;
    background-color: #e6e6ef;
    border: 2px solid #777; }
  header nav.horizontal-nav .inactive {
    color: #39013e;
    border: 2px solid #ddd; }

nav.horizontal-nav {
  display: flex;
  flex-direction: row;
  padding: 5px, 0, 0, 0; }

.float-right {
  float: right; }

div.inner header.gp-header {
  background-color: transparent;
  padding: 0; }

header hr {
  padding: 0;
  margin: 0 0 0.5em 0;
  border: 2px solid #9696bf;
  border-radius: 5px;
  width: 100%; }

h1 {
  font-size: 20pt;
  font-weight: bold;
  margin-bottom: 8px;
  color: #39013e; }

h2 {
  font-size: 18pt;
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 8px;
  color: #39013e; }

h3 {
  font-size: 16pt;
  font-weight: bold;
  margin-bottom: 8px;
  color: #39013e; }

h4 {
  font-size: 15pt;
  font-weight: bold;
  color: #39013e; }

h5 {
  font-size: 14pt;
  color: #39013e; }

h6 {
  font-size: 12pt;
  color: #39013e; }

div.inner {
  width: 100%; }

div.highlight, div.highlighter-rouge, pre {
  border-radius: 4px; }

pre {
  padding: 10px;
  color: #0e0efe;
  background-color: #e3e3f9;
  border: 1px solid #0e0efe; }
  pre code {
    background-color: #e3e3f9;
    color: #0e0efe;
    margin: 0;
    font-size: 10pt; }

code {
  font-family: monospace, serif; }

table td {
  text-align: left; }

#reference-container {
  width: 100%;
  margin: auto;
  overflow: scroll; }

#reference-content {
  width: 74%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 20px;
  height: auto; }

#xmas-content {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 0px;
  height: 100%; }

#sidebar-container {
  padding: 0;
  width: 22%;
  height: 100%;
  padding-left: 5px; }

ul {
  font-size: 0.9em; }
  ul li {
    list-style-type: square;
    padding-left: 15px;
    margin-left: 15px; }
    ul li li {
      list-style-type: circle; }
  ul .task-list-item {
    list-style: none;
    padding-left: 0px;
    margin-left: 0px; }
    ul .task-list-item li {
      margin-left: 20px; }

ol li {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 3px; }

.sidebar {
  float: left;
  border: 1px solid #aaa;
  width: 100%;
  border-radius: 5px;
  padding-top: 5px;
  margin-bottom: 5px;
  font-size: 0.9em;
  overflow: scroll;
  max-height: 45em; }
  .sidebar strong {
    padding-left: 7px;
    margin: 10px 0 0 0;
    font-size: 1em;
    color: #39013e; }
  .sidebar hr {
    padding: 0;
    border: 2px solid #9696bf;
    border-radius: 5px;
    width: 90%;
    margin: auto;
    margin-bottom: 4px; }
  .sidebar hr.small {
    padding: 0;
    border: 0px solid #9696bf;
    border-radius: 0px;
    width: 100%;
    margin: auto;
    margin-bottom: 4px; }
  .sidebar ul.sidebar-list {
    margin: 0;
    padding: 0 5px 0 5px;
    /*
    li.active {
      background-color: $menu-bgcolor-active;
    }

    li.toplevel a {
      font-weight: bolder;
      color: $menu-color-toplevel;
      line-height: 1.1;
    }

    li.interface a {
      font-weight: bolder;
      color: $menu-color-interface;
      line-height: 1.1;
    }

    li.widget a {
      font-weight: bolder;
      color: $menu-color-widget;
      line-height: 1.1;
    }

    li.boxed a {
      font-weight: bolder;
      color: $menu-color-boxed;
      line-height: 1.1;
    }

    li.object a {
      font-weight: bolder;
      color: $menu-color-object;
      line-height: 1.1;
    }

    li.standalone a {
      font-weight: bolder;
      color: $menu-color-standalone;
      line-height: 1.1;
    }
*/ }
    .sidebar ul.sidebar-list li {
      list-style-type: none;
      list-style: none;
      margin-bottom: 3px;
      margin-left: 0;
      padding: 0 0 0 4px; }
      .sidebar ul.sidebar-list li a {
        display: block;
        width: 100%; }
      .sidebar ul.sidebar-list li a:hover {
        background-color: #eee; }
      .sidebar ul.sidebar-list li div.module-url {
        float: left; }
      .sidebar ul.sidebar-list li div.module-state {
        float: right; }
    .sidebar ul.sidebar-list li.normal-object a {
      background-color: transparent;
      color: #39013e; }
    .sidebar ul.sidebar-list li.deprecated-object a {
      background-color: transparent;
      color: #a8009a; }

.tooltiptext strong {
  color: #afffff; }

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  /* If you want dots under the hoverable text */ }

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(60, 60, 60, 0.8);
  color: #afffff;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 100, 100, 0.8);
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.5s; }

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent; }

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1; }

p {
  margin-bottom: 10px;
  font-size: 15pt; }
  p strong {
    font-weight: lighter;
    color: #555; }
  p code {
    font-size: 14pt;
    color: #0e0efe;
    font-family: serif;
    border-radius: 20px; }
  p a {
    color: navy;
    text-decoration: underline; }
  p a:hover {
    /*  text-decoration: none;*/
    text-decoration: underline;
    color: blue; }

/*
#reference-page {
//  overflow-y: scroll;
//  height: 200px;
}
*/
#category {
  padding: 1.5em; }
  #category a {
    font-size: 14px; }

/*
#content {
//  margin: 1em 0 0.5em 0;
//  height: 500px;
//  overflow-y: scroll;

//  border: 1px solid #aaa;
//  border-radius: 5px;
//  padding: 1.5em;

  //position: fixed;
  //bottom: 5px;
  //overflow: auto;
}
*/
.lineno-container > figure > pre {
  padding: 0px; }

/*
.highlight {

//  height: 20em;
//  overflow: scroll;

  pre.lineno {
    //@include opacity(0.6);
    text-align: right;
  }

  .lineno {
    @include unselectable();
  }

//  .gutter {
//  }

  pre {
    border: none;
    pre {
      text-align: left;
      margin-bottom: 0px;
    }
  }
}
*/
table th {
  font-weight: bold; }

.highlight table, .highlight td {
  border: none; }

/*# sourceMappingURL=style.css.map */
