// Use 'sass doc/Scss/style.scss assets/css/style.css'

/* main.css control */
/*
$link-color: red;
$paragraph-indent: true;
$indent-var: 2em;
*/
/* system typefaces */
/*
$serif      : Georgia, Times, serif;
$sans-serif : -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$monospace  : Monaco, Consolas, "Lucida Console", monospace;
*/

/*@import "main.css";*/

$menu-color:                #39013e;
$menu-bgcolor:              #9696bf;
$menu-bgcolor-active:       #e6e6ef;
$menu-border-color-active:  #777;
$menu-border-color:         #ddd;
$menu-border-width:         2px;

$menu-bgcolor-normal-object:      transparent;
$menu-bgcolor-deprecated-object:  transparent;
$menu-color-normal-object:        #39013e;
$menu-color-deprecated-object:    #a8009a;
$menu-text-font-size:       1.0em;

// default link color       #d5000d
//$menu-color-toplevel:       #e58080;
//$menu-color-object:         #a04500;
//$menu-color-widget:         #f54045;
//$menu-color-interface:      #bf00bf;
//$menu-color-boxed:          #00afaf;
//$menu-color-standalone:     #80bf00;



$header-color:              #39013e;

$title-color:               #deffff;
$title-color-border:        #008080;

$code-color:                #0e0efe;
$code-bgcolor:              #e3e3f9;
$code-font-size:            10pt;
$code-in-text-font-size:    14pt;
$code-border-width:         1px;
$code-border-color:         $code-color;

$border-color:              #bbb;
$border-width:              4px;


$sbar-text-font-size:       0.9em;
$sbar-hdr-text-font-size:   1.0em;
$sbar-hdr-color:            #39013e;
$text-font-size:            15pt;
$text-strong-font-weight:   lighter;

/* LAYOUT STYLES */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
//  font-size: 1em;
//  line-height: 1.5;
  color: #6d6d6d;
//  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  background: #e7e7e7 url(../images/body-bg.png) 0 0 repeat;
}

div.inner {
  background: url(../images/top5.png)/* 0 0 no-repeat*/ 0 0 no-repeat;
}


a {
  color: navy;
  text-decoration: underline;
}

a:hover {
  /*  text-decoration: none;*/
  text-decoration: underline;
  color: rgb(0, 0, 255);
}

header {
  padding-top: 0px;
  padding-bottom: 15px;
}

header h1, header h2 {
  font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 23pt;
  font-weight: bold;
  letter-spacing: -1px;
//  line-height: 1.2;
}

.XL-h1-size {
  font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 23pt;
  font-weight: bold;
  letter-spacing: -1px;
//  font-size: 30px;

  text-shadow: 0px 0px 15px white;
//  margin: 0 0 5px 0;
//  color: $title-color;

  // https://css-tricks.com/adding-stroke-to-web-text/
  -webkit-text-fill-color: $title-color;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $title-color-border;
}

img.header-image {
  width:  80px;
  height: 84px;
  margin: 3px 5px 0 5px;

  border-radius: 50%;
  border: 3px solid $title-color;
}

header nav.horizontal-nav {
  padding: 7px 0 0 5px;

/*  Must be improved
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: $menu-bgcolor;
*/

  height: 30px;
  font-size: $menu-text-font-size;
  font-weight: normal;

  a {
    float: left;
    padding: 0 4px 0 4px;
    margin-right: 2px;
    border-radius: 5px;
    line-height: 1.5;
    color: $menu-color;
  }

  a:hover:not(.active) {
    background-color: #eee;
    color: $menu-color;
  }

  .active {
    color: $menu-color;
    background-color: $menu-bgcolor-active;
    border: $menu-border-width solid $menu-border-color-active;
  }

  .inactive {
    color: $menu-color;
    border: $menu-border-width solid $menu-border-color;
  }

/*
  .float-right {
    float: right;
  }
*/
}

nav.horizontal-nav {
  display: flex;
  flex-direction: row; 
  padding: 5px, 0, 0, 0;
}

.float-right {
  float: right;
}

div.inner header.gp-header {
  background-color: transparent;
  padding: 0;
}

header hr {
  padding: 0;
  margin: 0 0 0.5em 0;
  border: 2px solid $menu-bgcolor;
  border-radius: 5px;
  width: 100%;
}

h1 {
  font-size: 20pt;
  font-weight: bold;
  margin-bottom: 8px;
  color: $header-color;
}

h2 {
  font-size: 18pt;
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 8px;
  color: $header-color;
}

h3 {
  font-size: 16pt;
  font-weight: bold;
  margin-bottom: 8px;
  color: $header-color;
}

h4 {
  font-size: 15pt;
  font-weight: bold;
  color: $header-color;
}

h5 {
  font-size: 14pt;
  color: $header-color;
}

h6 {
  font-size: 12pt;
  color: $header-color;
}


div.inner {
  width: 100%;
}

div.highlight, div.highlighter-rouge, pre {
  border-radius: $border-width;
}

pre {
  padding: 10px;
  color: $code-color;
  background-color: $code-bgcolor;
  //border: $border-width solid $border-color;
  border: $code-border-width solid $code-border-color;

  code {
    background-color: $code-bgcolor;
    color: $code-color;
    //line-height: 0.9;
    margin: 0;
    font-size: $code-font-size;
  }
}

code {
  //background-color: transparent;
  //color: #5801a4;
  font-family: monospace, serif;
}

table td {
  text-align: left;
}

#reference-container {
  width: 100%;
  margin: auto;
  overflow: scroll;
}

#reference-content {
  width: 74%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 20px;
  height: auto;
}

#xmas-content {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 0px;
  height: 100%;
}

#sidebar-container {
  padding: 0;
  width: 22%;
  height: 100%;
  padding-left: 5px;
}

ul {
  font-size: $sbar-text-font-size;
  li {
//    list-style-position: inside;
//    list-style: disc;
    list-style-type: square;
    padding-left: 15px;
    margin-left: 15px;

    li {
      list-style-type: circle;
    }
  }

  .task-list-item {
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;

    li {
      margin-left: 20px;
    }
  }
}

ol li {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 3px;
}

.sidebar {
  float: left;
  border: 1px solid #aaa;
  width: 100%;
//  height: 100%;
  border-radius: 5px;
  padding-top: 5px;

  margin-bottom: 5px;
  font-size: $sbar-text-font-size;
  overflow: scroll;
  max-height: 45em;

  strong {
    padding-left: 7px;
    margin: 10px 0 0 0;
    font-size: $sbar-hdr-text-font-size;
    color: $sbar-hdr-color;
  }

  hr {
    padding: 0;
    border: 2px solid $menu-bgcolor;
    border-radius: 5px;
    width: 90%;
    margin: auto;
    margin-bottom: 4px;
  }

  hr.small {
    padding: 0;
    border: 0px solid $menu-bgcolor;
    border-radius: 0px;
    width: 100%;
    margin: auto;
    margin-bottom: 4px;
  }

  ul.sidebar-list {
    margin: 0;
    padding: 0 5px 0 5px;

    li {
      list-style-type: none;
      list-style: none;
      margin-bottom: 3px;
      margin-left: 0;
      padding: 0 0 0 4px;
      //line-height: 1.6;

      a {
        display: block;
        width: 100%;
//        font-size: $sbar-text-font-size;
      }

      a:hover {
        background-color: #eee;
      }

      div.module-url {
        float: left;
      }

      div.module-state {
        float: right;
      }
    }


    li.normal-object a {
      background-color: $menu-bgcolor-normal-object;
      color: $menu-color-normal-object;
    }

    li.deprecated-object a {
      background-color: $menu-bgcolor-deprecated-object;
      color: $menu-color-deprecated-object;
    }

    /*
    li.active {
      background-color: $menu-bgcolor-active;
    }

    li.toplevel a {
      font-weight: bolder;
      color: $menu-color-toplevel;
      line-height: 1.1;
    }

    li.interface a {
      font-weight: bolder;
      color: $menu-color-interface;
      line-height: 1.1;
    }

    li.widget a {
      font-weight: bolder;
      color: $menu-color-widget;
      line-height: 1.1;
    }

    li.boxed a {
      font-weight: bolder;
      color: $menu-color-boxed;
      line-height: 1.1;
    }

    li.object a {
      font-weight: bolder;
      color: $menu-color-object;
      line-height: 1.1;
    }

    li.standalone a {
      font-weight: bolder;
      color: $menu-color-standalone;
      line-height: 1.1;
    }
*/
  }
}


.tooltiptext strong {
//  color: #8e280e;
  color: #afffff; //#fff;
}

// From w3schools
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  //border-bottom: 1px dotted black;
   /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba( 60, 60, 60, 0.8); //transparent; //#555;
  color: #afffff; //#fff;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 100, 100, 0.8);
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.5s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

p {
  margin-bottom: 10px;
  font-size: $text-font-size;

  strong {
    font-weight: $text-strong-font-weight;
    color: #555;
  }

  code {
    font-size: $code-in-text-font-size;
//    background-color: #6803c00e;
    color: $code-color;
    font-family: serif;
    border-radius: 20px;
  }

  a {
    color: navy;
    text-decoration: underline;
  }
  
  a:hover {
    /*  text-decoration: none;*/
    text-decoration: underline;
    color: rgb(0, 0, 255);
  }
}

/*
#reference-page {
//  overflow-y: scroll;
//  height: 200px;
}
*/

// Adding 'Contents' headline to the TOC
#category {
//  height: 200px;
//  overflow-y: scroll;

//  border: 1px solid #aaa;
//  border-radius: 5px;
  padding: 1.5em;

  a {
    font-size: 14px;
  }
}

/*
#content {
//  margin: 1em 0 0.5em 0;
//  height: 500px;
//  overflow-y: scroll;

//  border: 1px solid #aaa;
//  border-radius: 5px;
//  padding: 1.5em;

  //position: fixed;
  //bottom: 5px;
  //overflow: auto;
}
*/

// so that the line numbers are not selectable
@mixin unselectable() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

// having a lineno-container made it easier to style line number
// code blocks without impacting normal code blocks
.lineno-container > figure > pre {
  padding: 0px;
}

/*
.highlight {

//  height: 20em;
//  overflow: scroll;

  pre.lineno {
    //@include opacity(0.6);
    text-align: right;
  }

  .lineno {
    @include unselectable();
  }

//  .gutter {
//  }

  pre {
    border: none;
    pre {
      text-align: left;
      margin-bottom: 0px;
    }
  }
}
*/

table th {
  font-weight: bold;
}

.highlight table, .highlight td {
  border: none;
}

@import "../../asset_files/css/font-awesome.min.css";
@import "../../asset_files/css/rakudoc-extra.css";
@import "../../asset_files/css/rakudoc-styling.css";