---
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

<!--    {% assign url = site.baseurl | append: "/favicon.ico" %} -->
    {% assign url = "/favicon.ico" %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ url }}" />
    {% assign url = site.baseurl | append: "/assets/css/style.css" %}
    <link rel="stylesheet" href="{{ url }}">
    {% assign url = site.baseurl | append: "/assets/css/print.css" %}
    <link rel="stylesheet" type="text/css" href="{{ url }}" media="print">

    <title>{{ page.title }}</title>
  </head>
  
  <body>
    <div id="container">
      <div class="inner">
      
        {% include header-section.html %}
        
        <div id="reference-container">
          <div id="sidebar-container">
            {% include sidebar-section.html %}
          </div>
          <!--
            {{site.url}}/{{page.url}}
            <iframe id="reference-content" src="{{site.url}}/{{page.url}}">
              
            </iframe>
          -->
          <div id="reference-content">
            {{content}}
            <script>
              //window.location.pathname = '/404/'+window.location.pathname
              var url = window.location.pathname;
              var basename = url.split('/').reverse()[0];
              var y = document.createTextNode(basename);
              
              var t = document.getElementById("s");
              
              if ( url.includes("/reference/") ) {
                var text = "module documentation for ";
                t.appendChild(document.createTextNode(text));
                basename = basename.replace( ".html", "");
                t.appendChild(document.createTextNode(basename));
              }

              else {
                var text = "page ";
                t.appendChild(document.createTextNode(text));
                t.appendChild(document.createTextNode(basename));
              }

              if ( url.includes("/reference/") ) {
                t = document.getElementById("p");
                var text = " This probably means that;";
                t.appendChild(document.createTextNode(text));
                var ddnode = document.createElement("dd");
                t.appendChild(ddnode);
                var linode = document.createElement("li");
                ddnode.appendChild(linode);
                text = "The document and the Raku module is not generated.";
                linode.appendChild(document.createTextNode(text));
                
                linode = document.createElement("li");
                ddnode.appendChild(linode);
                text = "Or the Raku module exists but there is no documentation of it yet.";
                linode.appendChild(document.createTextNode(text));
                
                text = "When the module nor documentation exists, it is possible that the module and its documentation will not be generated, because Raku has the tools for it or the module is in a sort of niche.";
                t.appendChild(document.createTextNode(text));
              }
            </script>
          </div>
        </div>
    </div>
  </body>
</html>