---
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

<!--    {% assign url = site.baseurl | append: "/favicon.ico" %} -->
    {% assign url = "/favicon.ico" %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ url }}" />
    {% assign url = site.baseurl | append: "/assets/css/style.css" %}
    <link rel="stylesheet" href="{{ url }}">
    {% assign url = site.baseurl | append: "/assets/css/print.css" %}
    <link rel="stylesheet" type="text/css" href="{{ url }}" media="print">

    <title>{{ page.title }}</title>
  </head>
  
  <body>
    <div id="container">
      <div class="inner">
      
        {% include header-section.html %}
        
        <div id="reference-container">
          <div id="sidebar-container">
            {% include sidebar-section.html %}
          </div>
          <!--
            {{site.url}}/{{page.url}}
            <iframe id="reference-content" src="{{site.url}}/{{page.url}}">
              
            </iframe>
          -->
          <div id="reference-content">
            {{content}}
            <script>
              //window.location.pathname = '/404/'+window.location.pathname
              var url = window.location.pathname;
              var basename = url.split('/').reverse()[0];
              basename = basename.replace( ".html", "");
              var y = document.createTextNode(basename);

              var t = document.getElementById("s");
              t.appendChild(y);
              if ( url.includes("/reference/") ) {
                t = document.getElementById("p");
                t.appendChild(document.createTextNode(
                  " This probably means that the document and the Raku module is not generated and maybe never will, because it is not needed (?)."
                  )
                );
              }
            </script>
          </div>
        </div>
    </div>
  </body>
</html>